:root{
    --principal-color: #fdfdfd;
    --secondary-color:#464f59; 
    --other-colors: #e84118;
}
body{
    margin: 0;
    padding: 0;
    background-color:var(--principal-color);
    color:black;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 150px;
}
.header .header_top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    
}
.header .header_top .img_logo{

    width: 65px;
    height: 65px;
    border-radius: 10px;
    border-color:var(--other-colors);
}
.header .header_top .datos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5px;
}
.header .header_top p{
    margin: 0;
}
.header .header_bottom{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content:space-between ;
    align-items: center;
    background-color:var(--secondary-color) ;
}
.header .header_bottom .nav_page{
    width: 98%;
}
.header .header_bottom .nav_page  .ul_nav{
    display: flex;
    width: 98%;
    justify-content: space-between;
}
.header .header_bottom .nav_page .div_nav{
    display: flex;
}
.header .header_bottom .nav_page .div_nav span{
    color: #fff;
}
.header .header_bottom .nav_page  ul a{
    list-style: none;
    margin-left: 5px;
    margin-right: 5px;
    color: #fff;
    text-decoration: inherit;
}
.section{
    display: flex;
    flex-direction: column;
}
.section .article_principal .img_1{
    width: 30%;
    height: 30%;
    border-radius: 10px;
    border-color:var(--other-colors);
}
.section .article_principal{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content:space-between ;
    align-items: center;
    margin-block-end: 15px;
}
.h1_principal{
    color: #5f9da4;
    text-shadow: 4px 4px 4px #5f9da4;
}
.article_tipos{
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
    background-color:var(--secondary-color);
    color: white;
}
.article_tipos .iso{
    margin: 10px;
    padding: 10px;
    text-align: justify;
    border: 1px dashed #5f9da4;
}
.h3_article{
    width: 3rem;
	height: 3rem;
    margin-left: 20px;
	border-radius: 50%;
	background: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    padding:3%;
    color: #d46d3f;
    text-shadow: 4px 4px 4px #d46d3f;
}
   
.article_tipos .img_iso{
    width: 354px;
    height: 132px;
}
.article_tipos .ieee{
    margin: 10px;
    padding: 10px;
    text-align: justify;
    border: 1px dashed #5f9da4;
}
.article_tipos .img_article{
    width: 354px;
    height: 132px;
}
.article_tipos .istqb{
    margin: 10px;
    padding: 10px;
    text-align: justify;
    border: 1px dashed #5f9da4;
}
.footer_top{
    margin-top: 2%;
    display: flex;
    width: 100%;
    height: 50%;
    justify-content:space-between;
  
}

.footer_top .footer_caja{
    margin-top: 2%;
    height: 30%;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    width: 100%;
    height: 50%;
    justify-content:flex-start;
    background-color: white;
    color: white;
    border: 1px dashed #5f9da4;
}
.p_footer{
    width: 3rem;
    height: 3rem;
    margin-left: 20px;
    border-radius: 50%;
    background: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:3%;
    color: #d46d3f;
    text-shadow: 4px 4px 4px #d46d3f;
}
a{
    display: flex;
    align-items: center;
	text-align: center;
    color:rgb(75, 75, 75);
}
.footer_bottom .footer_caja{
    margin-top: 2%;
    border: 1px dashed #5f9da4;
    margin-left: 25%;
    margin-right: 25%;
    display: flex;

}


